

<footer class="shire-footer">
    <div class="footer-inner">
        <p class="footer-title">Elevenses Editions</p>
        <p class="footer-copy">&copy; <%= new Date().getFullYear() %> — From Argentina, with love.</p>
    </div>
</footer>
  



<script src="/js/main.js"></script>
<!-- BrowserSync -->
<script async src="http://localhost:3001/browser-sync/browser-sync-client.js"></script>

</body>
</html>