<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Shirewire</title>
    <link rel="stylesheet" href="/css/main.css">
</head>


    <button id="theme-toggle" class="theme-toggle-btn">
    <span class="theme-icon">🌙</span>
    </button>


    <header class="shire-header">


    <div class="shire-header-inner">

        <div class="shire-title-block">
            <h1 class="shire-title">The Shirewire</h1>
            <h2 class="shire-subtitle">
                News, Nonsense, and Not-Quite-Needed Updates from the Quietest Corner of Middle-earth
            </h2>
        </div>

        <nav class="shire-nav">
            <ul>
                <li><a href="/" class="no-underline">Home</a></li>
                <li><a href="/posts" class="no-underline">Posts</a></li>
                <li><a href="/about" class="no-underline">About</a></li>
            </ul>
        </nav>

    </div>
</header>

